@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: #343434;
}


#signupDiv h1 {
    color: #8AFF90;
    font-size: 3rem;
}


.button-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 2rem;
    background-color: #1d1d1d;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90vw;
    width: 60%;
    margin-top: 2rem;
    box-sizing: border-box;
    position: absolue;
    top: 30px;
}




.button-box button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}


.button-box button:hover {
    background-color: #0056b3;
}



#mainHeader {
    background-color: #202020;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 1rem;
}

.brand-name {
    color: #8AFF90;
    font-size: 1.5rem;
    font-weight: bold;
}

#homeDiv {
    margin-top: 8rem;
}

#signupDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
}

.button-box input {
    width: 90%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.home-button {
    position: fixed;
    top: 1rem;
    right: 0.1rem;
    z-index: 1001;
    cursor: pointer;
}

.home-button img {
    height: 50px;
    width: 90px;
    transition: transform 0.2s ease;
}

.home-button img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}
